s_list
  section#list(x-data='{ listStyle: "[##_list_style_##]" }')
    s_list_conform
      header(class='index-container pt-12 lg:pt-16')
        h1.tit(class='text-2xl lg:text-3xl font-bold text-h-800 dark:text-h-200') [##_list_conform_##]
    //- 카드 그리드 컨테이너: 카테고리/목록 페이지의 글들을 카드 형태로 배치
    ul.card-grid(class='index-container pt-8 lg:pt-10')
      s_list_rep
        li
          +index('list_rep')
    s_list_empty
      include List/Empty
