li#category.el(x-data='category')
  | [##_category_list_##]

script.
  document.addEventListener('alpine:init', () => Alpine.data('category', () => ({
    /**
     * @var {Boolean} foldableCategory
     */
    foldableCategory: skinOptions.foldableCategory,

    /**
     * Init
     */
    init () {
      // 카테고리 상시 펼침을 위해 기존 접기 로직 비활성화
      // if (this.foldableCategory) {
      //   this.$subCategories.forEach(this.foldable.bind(this))
      // }
    },

    /**
     * Foldable
     *
     * @param {HTMLElement} $subCategory
     */
    foldable ($subCategory) {
      $subCategory.parentNode.setAttribute('x-data', '{ open: false }')
      $subCategory.setAttribute('x-show', 'open')
      $subCategory.setAttribute('x-collapse', '')

      const $icon = this.$icon

      $icon.setAttribute('x-on:click', 'open = ! open')
      $icon.setAttribute(':class', '{ "rotate-90 duration-200": open }')

      $subCategory.parentNode.prepend($icon)
    },

    /**
     * Get subcategories
     *
     * @var {NodeListOf<HTMLElement>} $subCategories
     */
    get $subCategories () {
      return this.$el.querySelectorAll('.sub_category_list')
    },

    /**
     * Get a new icon
     *
     * @var {HTMLElement} $icon
     */
    get $icon () {
      const icon = document.createElement('i')

      icon.classList.add('fa-solid', 'fa-chevron-right')

      return icon
    }
  })))

style
  :postcss
    #category {
      .tt_category {
        .link_tit,
        .link_item,
        .link_sub_item {
          img {
            @apply hidden;
          }

          .c_cnt {
            @apply text-xs;
          }
        }

        .link_tit,
        .link_item {
          @apply text-sm font-bold mb-1 inline-block text-h-900 dark:text-h-200;
        }

        .link_tit {
          @apply mb-4; /* '분류 전체보기'와 아래 카테고리 간격 최적화 */
        }

        ul {
          @apply flex flex-col gap-y-4 text-sm;

          li {
            @apply relative pr-5;

            i {
              @apply absolute right-0 text-2xs cursor-pointer leading-5;
            }
          }
        }

        .sub_category_list {
          @apply pl-4 mt-2 mb-2; /* 2단 카테고리 들여쓰기 및 상하 간격 축소 */

          li {
            @apply flex flex-col gap-y-2;

            .link_sub_item::before {
              /* 2단 카테고리 chevron 제거 */
              @apply hidden;
            }
          }
        }
      }
    }
