li#copyright.el(class='text-h-400 flex justify-between')
  small.author(class='flex gap-x-0.5')
    div Copyright 2026. Euihyunee. All rights reserved.
    | · Designed By
    a.name(href='https://github.com/Euihyunee') Euihyunee.
  small.version v1.0.0
